<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.checkin.dao.CheckinDao">

    <select id="findCheckDateByUId" parameterType="int" resultType="com.qfedu.entity.Checkin">
        select * from checkin where u_id=#{uId} and date(checkDate)=date(CURDATE()-1)
    </select>

    <select id="findByUId" parameterType="int" resultType="com.qfedu.entity.Checkin">
        select * from checkin where u_id=#{uId} order by check_date DESC
    </select>



</mapper>